<h3>Consulta de clientes</h3>
<p>Listagem de clientes cadastrados no sistema</p>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nome do cliente</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Data e hora de cadastro</th>
                <th>Operações</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let c of clientes">
                <td> {{ c.nome }} </td>
                <td> {{ c.email }} </td>
                <td> {{ c.telefone }} </td>
                <td> {{ c.dataCadastro }} </td>
                <td>
                    <button class="btn btn-sm btn-primary me-1">Editar</button>
                    <button class="btn btn-sm btn-danger me-1">Excluir</button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="5">
                    Quantidade de clientes: {{ clientes.length }}
                </td>
            </tr>
        </tfoot>
    </table>

</div>
